<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Problem </title>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>


</head>

<body>
<div th:replace="fragments/fragment :: header"></div>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="content-container">
    <div class="container-fluid">
        <div class="row">

            <!--Page Name Header-->
            <div class="col-md-6">
                <div class="pageName">
                    <h3>Problem</h3>
                    <p><a th:href="@{/tickets}">All Tickets</a> > Create </p>
                </div>
            </div>

        </div>
        <br>

        <!--                        START YOUR CONTENT                      -->

        <!--Tab Nav-->
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#problem">Problem</a></li>
            </ul>




            <div class="tab-content">
                <!--                    START TAB PROBLEM-->
                <div class="tab-pane fade in active" id="problem">
                    <div class="card">
                        <div class="card-content">
                            <!--                                for row header-->
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="pageName">
                                        <h4>Problem</h4>
                                    </div>
                                </div>
                                <div class="col-sm-5"></div>
                            </div>


                            <!--                                            mulai table-->
                            <div class="row">
                                <br>
                                <div class="col-sm-12">
                                    <form th:action="@{/problem/add}" th:object="${problem}" method="POST">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                Requestor's Name <br>
                                                <input type="text" class="form-control"  name="nama_pengaju"/>
                                            </div>
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-5">
                                                Subject <br>
                                                <input type="text" class="form-control"  name="subject"/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <br>
                                            <div class="col-sm-6">
                                                Date <br>
                                                <input type="datetime-local" class="form-control"  name="real_date"/>
                                            </div>
                                            <div class="col-sm-6"></div>
                                        </div>
                                        <div class="row">
                                            <br>
                                            <div class="col-sm-12">
                                                Description <br>
                                                <textarea class="form-control" rows="5"  name="description"></textarea>
                                            </div>
                                        </div>
                                        <br>
                                        <button type = "submit" class="btn btn-fill btn-create text-center" >Create</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <!--                         END OF CONTENT                      -->

    </div>
</div>


</body>



</html>