<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Service Catalog </title>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>


</head>

<body>
<div th:replace="fragments/fragment :: header"></div>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="content-container">
    <div class="container-fluid">
        <div class="row">

            <!--Page Name Header-->
            <div class="col-md-6">
                <div class="pageName">
                    <h3>Service Catalog</h3>
                    <p>
                        <a th:href="@{/sla}" >Service Catalog</a>
                        <span> > </span>
                        <span th:text="${departemenNama}"></span>
                    </p>
                </div>
            </div>

        </div>
        <br>

        <!--                        START YOUR CONTENT                      -->

        <!--Tab Nav-->
        <div class="col-md-12">

            <div class="tab-content">
                <!--                    START TAB PROBLEM-->
                <div class="tab-pane fade in active" id="problem">
                    <div class="card">
                        <div class="card-content">
                            <!--                                for row header-->
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="pageName">
                                        <h4 th:text="${departemenNama}"></h4>
                                    </div>
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-2" th:if="${user.id_role.id_role == 1}">
                                    <a th:href="@{/sla/daftar/tambah}"type="submit" class="btn btn-fill btn-create text-center"> Create </a>
                                </div>
                            </div>
                            <!--                                            mulai table-->
                            <div class="row">
                                <div class="col-md-12">
                                    <table>
                                        <h2 th:text="'Hello ' + ${#httpServletRequest.remoteUser} + '!'">Login as</h2>
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Nama SLA</th>
                                        <th>Completion Time</th>
                                        <th>Description</th>
                                        <th>Departemen</th>
                                        <th th:if="${user.id_role.id_role == 1}" >Edit</th>
                                        <th th:if="${user.id_role.id_role == 1}" >Delete</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="sla, iterationStatus: ${listSLA}">
                                        <td th:text="${iterationStatus.count}"></td>
                                        <td>
                                            <a th:href="@{detail/} + ${sla.id_sla}" th:text="${sla.nama_sla}"></a>
                                        </td>
                                        <td th:text="${sla.completion_time}"></td>
                                        <td th:text="${sla.description}"></td>
                                        <td th:text="${sla.departemen.nama_departemen}"></td>
                                        <td th:if="${user.id_role.id_role == 1}" >
                                            <a class="btn btn-dark" th:href="@{/sla/daftar/update/}+${sla.id_sla}">Edit</a>
                                        </td>
                                        <td th:if="${user.id_role.id_role == 1}">
                                            <!-- Button trigger modal -->
                                            <a class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                                                Delete
                                            </a>

                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <p>
                                                                <span>Are you sure to delete this</span>
                                                                <span th:text="${sla.nama_sla}"></span>
                                                            </p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a class="btn btn-secondary" data-dismiss="modal">Close</a>
                                                            <a class="btn btn-dark" th:href="@{/sla/daftar/delete/}+${sla.id_sla}">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

<!--                                            <a class="btn btn-dark" th:href="@{/sla/daftar/delete/}+${sla.id_sla}">Delete</a>-->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div th:unless="${!listSLA.isEmpty()}">
                            <br>
                            <br>
                            <p class="text-center">Tidak ada SLA</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>