<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Request </title>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>


</head>

<body>
<div th:replace="fragments/fragment :: header"></div>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="content-container">
    <div class="container-fluid">
        <div class="row">

            <!--Page Name Header-->
            <div class="col-sm-6">
                <div class="pageName">
                    <h3>Detail Ticket</h3>
                    <p><a th:href="@{/tickets}">All Tickets</a> > Detail </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="statusName">
                    <br>
                    <h4 th:text="${request.status.namaStatus}"></h4>
                </div>
            </div>
        </div>
        <br>

        <!--            START YOUR CONTENT                  -->

        <!--Tab Nav-->
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#detail">Request</a></li>
            </ul>

            <div class="tab-content">
                <!--                    START TAB PROBLEM-->
                <div class="tab-pane fade in active" id="detail">
                    <div class="card">
                        <div class="card-content">
                            <!--                                for row header-->
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="pageName">
                                        <h4 th:text="'Detail for Request : '+ ${request.id_request}"></h4>
                                    </div>
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-2"></div>
                            </div>
                            <br><br>
                            <div class="row detail-row">
                                <div class="col-sm-3">
                                    Requestor
                                </div>
                                <div class="col-sm-9">
                                    <p th:text="': '+ ${request.nama_pengaju}"></p>
                                </div>
                            </div>
                            <div class="row detail-row">
                                <div class="col-sm-3">
                                    Subject
                                </div>
                                <div class="col-sm-9">
                                    <p th:text="': '+ ${request.subject}"></p>
                                </div>
                            </div>
                            <div class="row detail-row">
                                <div class="col-sm-3">
                                    Manager's Name
                                </div>
                                <div class="col-sm-9">
                                    <p th:text="': '+ ${request.requestDepartemen.nama_kepala}"></p>
                                </div>
                            </div>
                            <div class="row detail-row">
                                <div class="col-sm-3">
                                    Date Requested
                                </div>
                                <div class="col-sm-9">
                                    <p th:text="': '+ ${request.created_date}"></p>
                                </div>
                            </div>
                            <div class="row detail-row">
                                <div class="col-sm-3">
                                    Target Date Required
                                </div>
                                <div class="col-sm-9">
                                    <p th:text="': '+ ${request.target_date}"></p>
                                </div>
                            </div>
                            <div class="row detail-row">
                                <div class="col-sm-3">
                                    Department
                                </div>
                                <div class="col-sm-9">
                                    <p th:text="': '+ ${request.requestDepartemen.nama_departemen}"></p>
                                </div>
                            </div>
                            <div class="row detail-row">
                                <div class="col-sm-3">
                                    Phone/ext#
                                </div>
                                <div class="col-sm-9">
                                    <p th:text="': '+ ${request.phone_number}"></p>
                                </div>
                            </div>
                            <div class="row detail-row">
                                <div class="col-sm-3">
                                    Location
                                </div>
                                <div class="col-sm-9">
                                    <p th:text="': '+ ${request.location}"></p>
                                </div>
                            </div>
                            <div class="row detail-row">
                                <div class="col-sm-3">
                                    Request Divison
                                </div>
                                <div class="col-sm-9">
                                    <p th:text="': '+ ${request.resolverDepartemen.nama_departemen}"></p>
                                </div>
                            </div>
                            <div class="row detail-row">
                                <div class="col-sm-3">
                                    Services
                                </div>
                                <div class="col-sm-9">
                                    <p th:text="': '+ ${request.sla.nama_sla}"></p>
                                </div>
                            </div>
                            <div class="row detail-row">
                                <div class="col-sm-3">
                                    Request Description
                                </div>
                                <div class="col-sm-9">
                                    <p th:text="': '+ ${request.description}"></p>
                                </div>
                            </div>
                            <div class="row detail-row">
                                <div class="col-sm-3">
                                    Request Background
                                </div>
                                <div class="col-sm-9">
                                    <p th:text="': '+ ${request.background}"></p>
                                </div>
                            </div>
                            <div class="container-fluid"th:if="${request.status.id_status == 5}">
                                <form th:action="@{/request/update/}"  th:object="${request}" method="POST">
                                    <input type="hidden" th:field="*{id_request}"/>
                                    <div class="row detail-row">
                                        <div class="col-sm-3" >Assign Resolver</div>
                                        <div class="col-sm-9">
                                            :
                                            <select name="resolver" class="dropdown" th:field="*{resolver}">
                                                <option th:each="resolver : ${resolverList}"
                                                        th:value="${resolver.id_user}"
                                                        th:utext="${resolver.nama}"/>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row-action">
                                        <div class="col-sm-2">
                                            <button class="btn btn-fill btn-decline text-center" data-toggle="modal"
                                                    data-target="#changeStatus"> Decline </button>
                                        </div>
                                        <div class="col-sm-8"></div>
                                        <div class="col-sm-2">

                                                <button class="btn btn-fill btn-create text-center" data-toggle="modal"
                                                        data-target="#changeStatus"> Accept </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row-action" th:if = "${request.status.id_status == 6}">
                            <div class="col-sm-9"></div>
                            <div class="col-sm-3">
                                <form th:action="@{/request/update/}"  th:object="${request}" method="POST">
                                    <input type="hidden" th:field="*{id_request}"/>
                                    <button class="btn btn-fill btn-create text-center" data-toggle="modal"
                                            data-target="#changeStatus"> Done </button>
                                </form>
                            </div>
                        </div>
                        <br>
                        <div class="created-by">
                            <p th:text="'Created by '+ ${request.pengaju.username}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Tab Log-->
        <div class="col-md-12">
            <br><br><br>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#log">Log</a></li>
            </ul>

            <div class="tab-content">
                <!--                    START TAB PROBLEM-->
                <div class="tab-pane fade in active" id="log">
                    <div class="card">
                        <div class="log-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <table>
                                        <thead>
                                            <tr>
                                              <th title="Field #1">Status</th>
                                              <th title="Field #2">Time</th>
                                              <th title="Field #3">Created By</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr th:each="log : ${logs}">
                                              <td th:text="${log.description}"></td>
                                              <td th:text="${log.posted_date}"></td>
                                              <td th:text="${log.createdBy.nama}"></td>
                                            </tr>
                                          </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--            END OF CONTENT                      -->
    </div>
    <div class="modal fade" id="changeStatus" tabindex="-1" role="dialog" aria-labelledby="successTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successTitle">Success</h5>
                </div>
                <div class="modal-body">
                    Ticket Updated
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn-submit2" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#changeStatus").on('click', function () {
            $('#success').modal('show');
            setTimeout(function() {$('#success').modal('hide');},
                100000000);
        });
    });
</script>

</body>

</html>