<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Problem</title>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  </head>

  <body>
    <div th:replace="fragments/fragment :: header"></div>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="content-container">
      <div class="container-fluid">
        <div class="row">
          <!--Page Name Header-->
          <div class="col-sm-6">
            <div class="pageName">
              <h3>Detail Ticket</h3>
              <p><a th:href="@{/tickets}">All Tickets</a> > Detail</p>
            </div>
            <span id="alert"></span>
          </div>
          <div class="col-sm-6">
            <div class="statusName" th:if="${problem.status.id_status == 4}">
              <br/>
              <h5 class="wfa" th:text="${problem.status.namaStatus}"></h5>
            </div>
            <div class="statusName" th:if="${problem.status.id_status == 5}">
              <br/>
              <h5 class="statAssigned" th:text="${problem.status.namaStatus}"></h5>
            </div>
            <div class="statusName" th:if="${problem.status.id_status == 6}">
              <br/>
              <h5 class="statProgress" th:text="${problem.status.namaStatus}"></h5>
            </div>
            <div class="statusName" th:if="${problem.status.id_status == 7}">
              <br/>
              <h5 class="statDone" th:text="${problem.status.namaStatus}"></h5>
            </div>
            <div class="statusName" th:if="${problem.status.id_status == 8}">
              <br/>
              <h5 class="statClose" th:text="${problem.status.namaStatus}"></h5>
            </div>
          </div>
        </div>
        <br />

        <!--            START YOUR CONTENT                  -->

        <!--Tab Nav-->
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#detail">Problem</a>
            </li>
          </ul>

          <div class="tab-content">
            <!--                    START TAB PROBLEM-->
            <div class="tab-pane fade in active" id="detail">
              <div class="card">
                <div class="card-content">
                  <!--                                for row header-->
                  <div class="row">
                    <div class="col-sm-7">
                      <div class="pageName">
                        <h4
                          th:text="'Detail for Problem : '+ ${problem.codeProblem}"
                        ></h4>
                      </div>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2"></div>
                  </div>
                  <br /><br />
                  <div class="row detail-row">
                    <div class="col-sm-3">Requestor</div>
                    <div class="col-sm-9">
                      <p th:text="': '+ ${problem.nama_pengaju}"></p>
                    </div>
                  </div>
                  <div class="row detail-row">
                    <div class="col-sm-3">Subject</div>
                    <div class="col-sm-9">
                      <p th:text="': '+ ${problem.subject}"></p>
                    </div>
                  </div>
                  <div class="row detail-row">
                    <div class="col-sm-3">Date Requested</div>
                    <div class="col-sm-9">
                      <p th:text="': '+ ${problem.real_date}"></p>
                    </div>
                  </div>
                  <div class="row detail-row">
                    <div class="col-sm-3">Description</div>
                    <div class="col-sm-9">
                      <p th:text="': '+ ${problem.description}"></p>
                    </div>
                  </div>

                  <!-- resolver department -->
                  <div
                    class="row detail-row"
                    th:unless="${problem.status.id_status == 1 || problem.status.id_status == 4}"
                  >
                    <div class="col-sm-3">Resolver Department</div>
                    <div class="col-sm-9">
                      :
                      <select
                        name=""
                        class="dropdown"
                        th:field="*{problem.resolverDepartemen}"
                        style="width: 40%;"
                        disabled
                      >
                        <option value="1">IT Helpdesk</option>
                        <option value="2">Security</option>
                        <option value="3">IT System Development</option>
                        <option value="4">IT User Admin</option>
                        <option value="5">IT Network</option>
                        <option value="6">IT Infrastructure</option>
                      </select>
                    </div>
                  </div>
                  <!-- individual resolver -->
                  <div
                  class="row detail-row"
                  th:unless="${problem.status.id_status == 1 || problem.status.id_status == 3 || problem.status.id_status == 4 || problem.status.id_status == 5}"
                >
                  <div class="col-sm-3">Resolver Assigned</div>
                  <div class="col-sm-9">
                    :

                    <select
                      name="individual"
                      class="dropdown"
                      th:field="*{problem.resolver}"
                      style="width: 40%;"
                      disabled
                    >
                      <option selected value="">
                        -- Assign Individual Resolver --
                      </option>
                      <option
                        th:each="individual : ${resolvers}"
                        th:value="${individual.id_user}"
                        th:text="${individual.nama}"
                      ></option>
                    </select>
                  </div>

                  <br />
                </div>
                  <!-- show feedback -->
                  <div
                    class="row detail-row"
                    th:if="${problem.status.id_status == 8}"
                  ><br>
                    <div class="col-sm-2">Feedback</div>
                    <!-- <div class="col-sm-9">
                      :
                    </div> -->
                  </div>
                  <div
                    class="row detail-row"
                    th:if="${problem.status.id_status == 8}"
                  >
                    <div class="col-sm-6">
                      <textarea id="feedback" name="feedback"
                                rows="3" cols="83" th:text="${feedback.description}" disabled>
                      </textarea>
                    </div>
                  </div>
                  
                <!-- assign to departemen resolver -->
                <div 
                  class="row detail-row" 
                  th:if="${problem.status.id_status == 4 && user.id_role.id_role == 2}"
                >
                  <form
                  th:action="@{/problem/resolver/} + ${problem.id_problem}"
                  method="POST"
                  >
                  <div class="col-sm-3">Assign Resolver</div>
                  <div class="col-sm-9">
                    :
                    <select name="jenisResolver" id="jenisResolver" class="dropdown">
                      <option selected value="">
                        Assign Resolver Department
                      </option>
                      <option value="1">IT Helpdesk</option>
                      <option value="2">Security</option>
                      <option value="3">IT System Development</option>
                      <option value="4">IT User Admin</option>
                      <option value="5">IT Network</option>
                      <option value="6">IT Infrastructure</option>
                    </select>
                  </div>
                <br/>
                <div class="row detail-row">
                  <div class="col-sm-3"></div>
                  <div class="col-sm-7">
                    <!-- <h6 th:text="${alert}" style="color: red;"></h6> -->
                  </div>
                  <div class="col-sm-2" th:if="${user.id_role.id_role == 2}">
                    <button
                      id="btnSubmit"
                      type="button"
                      class="btn btn-fill btn-create text-center"
                    >
                      Assign
                    </button>
                  </div>
                  <!-- <div class="col-sm-1"></div> -->
                </div>
                <!-- Modal -->
                <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cacnelModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h6 class="modal-title" id="cancelModalLabel" style="font-weight: bold; font-size: 1rem!important;">Assign Resolver Department</h6>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body" style="padding: 2rem 1rem;font-size: 1rem!important;">
                              Resolver Department Assigned!
                          </div>
                          <div class="modal-footer">
                              <button type="submit" class="btn btn-fill btn-create text-center">Ok</button>
                          </div>
                      </div>
                  </div>
              </div>
                </form>
                </div>
                <!-- assign to individual resolver -->
                <div
                  class="row detail-row"
                  th:if="${problem.status.id_status == 5 && user.departemen.id_dept == problem.resolverDepartemen.id_dept}"
                >
                  <form
                    th:action="@{/problem/individual/} + ${problem.id_problem}"
                    method="POST"
                  >
                    <div class="col-sm-3">Assign Resolver</div>
                    <div class="col-sm-9">
                      :

                      <select
                        name="individual"
                        id="individual"
                        class="dropdown"
                      >
                        <option selected value="">
                          -- Assign Individual Resolver --
                        </option>
                        <option
                          th:each="individual : ${resolvers}"
                          th:value="${individual.id_user}"
                          th:text="${individual.nama}"
                        ></option>
                      </select>
                    </div>

                    <br />
                    <div class="row">
                      <div class="col-sm-7"></div>
                      <div class="col-sm-2">
                        <a
                          th:if="${user.id_role.id_role == 4}"
                          th:href="@{/problem/individual/return/} + ${problem.id_problem}"
                          class="btn btn-outline-danger btn-delete text-center"
                        >
                          Decline
                        </a>
                      </div>
                      <div class="col-sm-3">
<!--                        <button-->
<!--                          type="submit"-->
<!--                          class="btn btn-fill btn-create text-center"-->
<!--                        >-->
<!--                          Assign-->
<!--                        </button>-->
                        <!-- Button trigger modal -->
                        <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-fill btn-create text-center">
                          Assign
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-3" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-body">
                                Resolver Assigned!
                              </div>
                              <div class="modal-footer">
                                <button type="submit" class="btn btn-fill btn-create text-center">Ok</button>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </form>
                </div>
                <div
                  class="row-action"
                  th:if="${problem.status.id_status == 6}"
                >
                  <div class="col-sm-8">

                  </div>
                  <div class="col-sm-2">
                    <a th:href="@{/problem/vendor/}+${problem.id_problem}" class="btn btn-fill btn-create text-center" style="min-width: 150px">  Assign Vendor </a>
                  </div>
                  <div class="col-sm-2">
                    <form
                      th:action="@{/problem/update/}"
                      th:object="${problem}"
                      method="POST"
                    >
                      <input type="hidden" th:field="*{id_problem}" />
                      <button
                        class="btn btn-fill btn-create text-center"
                        type="button"
                        data-toggle="modal"
                        data-target="#changeStatus"
                        style="min-width: 80px">
                        Done
                      </button>
                      <!-- Modal -->
                      <div class="modal fade" id="changeStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-body">
                              <p>
                                <span>Are you sure to resolve problem </span>
                                <span th:text="${problem.codeProblem}"></span>
                              </p>
                            </div>
                            <div class="modal-footer">
                              <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button class="btn btn-dark" type="submit">Yes</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!--                                </form>-->
                </div>
              
              <!-- isi feedback -->
            <div 
            class="row detail-row" 
            th:if="${problem.status.id_status == 7 && problem.getPengaju().getId_user() == user.getId_user()}"
            >
              <form
              th:action="@{/problem/close/} + ${problem.id_problem}" method="POST"
              >
                <div class="col-sm-12">
                    Feedback <br>
                    <textarea class="form-control" rows="5" name="feedback" placeholder="Enter your feedback."></textarea>
                </div>
              <br>
              <br>
              <div class="row">
                <div class="col-sm-9"></div>
                <div class="col-sm-3" th:if="${problem.status.id_status == 7}">
                  <!-- Button trigger modal -->
                  <button
                    type="button"
                    data-toggle="modal" data-target="#submitModal"
                    class="btn btn-fill btn-create text-center"
                    style="width: 120px;"
                  >
                    Submit
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="submitModal" tabindex="-3" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                          Feedback Submitted!
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-fill btn-create text-center">Ok</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              </form>
            </div>  
          <!-- selesai feedback -->
              </div>
                <br>
                <br>
                <div class="created-by">
                  <p th:text="'Created by '+ ${problem.pengaju.username}"></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Tab Log-->
        <div class="col-md-12">
          <br /><br /><br />
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#log">Log</a></li>
          </ul>

          <div class="tab-content">
            <!--                    START TAB PROBLEM-->
            <div class="tab-pane fade in active" id="log">
              <div class="card">
                <div class="log-content">
                  <div class="row">
                    <div class="col-md-12">
                      <table>
                        <thead>
                          <tr>
                            <th title="Field #1">Description</th>
                            <th title="Field #2">Time</th>
                            <th title="Field #3">Created By</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="log : ${logs}">
                            <td th:text="${log.description}"></td>
                            <td th:text="${log.posted_date}"></td>
                            <td th:text="${log.createdBy.nama}"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </body>
  <script>
    $(document).ready(function(){
        $("#btnSubmit").click(function(){
            var jenisResolver = document.getElementById("jenisResolver").value;

            if ((jenisResolver !== "")) {
                document.getElementById("alert").innerHTML = ""
                $("#cancelModal").modal();
            } else {
                document.getElementById("alert").innerHTML = "<div class=\"alert alert-danger\" role=\"alert\">\n" +
                    "Please choose a resolver department!\n" +
                    "</div>"
            }
        });
    });

</script>
</html>
