<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Create Service Catalog </title>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>


</head>

<body>
<div th:replace="fragments/fragment :: header"></div>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="content-container">
    <div class="container-fluid">
        <div class="row">

            <!--Page Name Header-->
            <div class="col-md-8">
                <div class="pageName">
                    <h3>Service Catalog</h3>
                    <p>
                        <a th:href="@{/sla}" >Service Catalog</a>
                        <span> > </span>
                        <span>Create Service Catalog</span>
                    </p>
                </div>
            </div>

        </div>
        <span id="alert"></span>
        <br>

        <!--                        START YOUR CONTENT                      -->

        <!--Tab Nav-->
        <div class="col-md-8">

            <div class="tab-content">
                <!--                    START TAB PROBLEM-->
                <div class="tab-pane fade in active" id="problem">
                    <div class="card">
                        <div class="card-content">
                            <!--                                for row header-->
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="pageName">
                                        <h4>Create Service Catalog</h4>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                </div>
                            </div>


                            <!-- mulai table-->
                            <div class="row">
                                <br>
                                <div class="col-sm-12">
                                    <form th:action="@{/sla/daftar/tambah}" th:object="${sla}" method="POST">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                Service Catalog Name
                                                <span style="color:red;"> * </span>
                                                <input id="nama_sla" class="form-control" type="text" name="nama_sla" required/>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                Description
                                                <span style="color:red;"> * </span>
                                                <input id="description" class="form-control" type="text" name="description" required/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <br>
                                            <div class="col-sm-8">
                                                Completion Time
                                                <span style="color:red;"> * </span> <br>
                                                <div class="col-sm-4">
                                                    <input id="completion_time_number" class="form-control" type="text" name="completion_time_number" required/>
                                                </div>
                                                <div class="col-sm-8">
                                                <select id="completion_time_period" name="completion_time_period" class="form-control">
                                                    <option selected value="">-- Pilih Periode --</option>
                                                    <option value="Days">Days</option>
                                                    <option value="Weeks">Weeks</option>
                                                    <option value="Months">Months</option>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-8"></div>
                                        </div>
                                        <div class="row">
                                            <br>
                                            <div class="col-sm-8">
                                                Department
                                                <span style="color:red;"> * </span>
                                                <select id="departemen" name="departemen" class="form-control">
                                                    <option selected value="">-- Pilih Departemen --</option>
                                                    <option th:each="jenis_departemen: ${listDepartemen}" th:value="${jenis_departemen.id_dept}"
                                                            th:text="${jenis_departemen.nama_departemen}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <br>
                                            <div class="col-sm-4">
                                                <br>
                                                <b>Board of Approval</b>
                                                <span style="color:red;"> * </span>
                                                <br>
                                                Approval 1: <br>
                                                <ul th:each="boa : ${listBOASatu}" style="list-style-type:none;">
                                                    <li><input type="checkbox" th:value="${boa.id_boa}" th:text="${boa.user.nama}" name="rank_satu"/> </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <br><br>
                                                Approval 2: <br>
                                                <ul th:each="boa : ${listBOADua}" style="list-style-type:none;">
                                                    <li><input type="checkbox" th:value="${boa.id_boa}" th:text="${boa.user.nama}" name="rank_dua"/> </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <br><br>
                                                Approval 3: <br>
                                                <ul th:each="boa : ${listBOATiga}" style="list-style-type:none;">
                                                    <li><input type="checkbox" th:value="${boa.id_boa}" th:text="${boa.user.nama}" name="rank_tiga"/></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br><br>

                                        <!-- Button trigger modal -->
                                        <div class="col-sm-4">
                                            <div class="col-sm-4; button-wrapper">
                                                <button type="button" class="btn btn-create text-center" id="btnSubmit">Submit</button>
                                            </div>
                                            <div class="col-sm-12" style="text-align: center">
                                                <a th:href="@{/sla}">Cancel</a>
                                            </div>
                                        </div>

                                        <!-- Modal -->
                                        <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cacnelModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h6 class="modal-title" id="cancelModalLabel" style="font-weight: bold; font-size: 1rem!important;">Create Service Catalog</h6>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body" style="padding: 2rem 1rem;font-size: 1rem!important;">
                                                        Service Catalog Created!
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-fill btn-create text-center">Yes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </form> </div></div></div></div>
</body>
<script>
    $(document).ready(function(){
        $("#btnSubmit").click(function(){
            var nama_sla = document.getElementById("nama_sla").value;
            var description = document.getElementById("description").value;
            var completion_time_number = document.getElementById("completion_time_number").value;
            var completion_time_period = document.getElementById("completion_time_period").value;
            var departemen = document.getElementById("departemen").value;

            if ((nama_sla !== "") && (description !== "") && (completion_time_number !== "") && (completion_time_period !== "") && (departemen !== "")) {
                document.getElementById("alert").innerHTML = ""
                $("#cancelModal").modal();
            } else {
                document.getElementById("alert").innerHTML = "<div class=\"alert alert-danger\" role=\"alert\">\n" +
                    "Please fill in all required fields!.\n" +
                    "</div>"
            }
        });
    });

</script>
<script>
    $(document).ready(function () {
        $("input[name='rank_satu']").change(function () {
            var maxAllowed = 2;
            var cnt = $("input[name='rank_satu']:checked").length;
            if (cnt > maxAllowed)
            {
                $(this).prop("checked", "");
                alert('Select maximum ' + maxAllowed + ' Approver per Levels!');
            }
        });
        $("input[name='rank_dua']").change(function () {
            var maxAllowed = 2;
            var cnt = $("input[name='rank_dua']:checked").length;
            if (cnt > maxAllowed)
            {
                $(this).prop("checked", "");
                alert('Select maximum ' + maxAllowed + ' Levels!');
            }
        });
        $("input[name='rank_tiga']").change(function () {
            var maxAllowed = 2;
            var cnt = $("input[name='rank_tiga']:checked").length;
            if (cnt > maxAllowed)
            {
                $(this).prop("checked", "");
                alert('Select maximum ' + maxAllowed + ' Levels!');
            }
        });
    });
</script>
</html>