<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Edit Service Catalog </title>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>


</head>

<body>
<div th:replace="fragments/fragment :: header"></div>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="content-container">
    <div class="container-fluid">
        <div class="row">

            <!--Page Name Header-->
            <div class="col-md-6">
                <div class="pageName">
                    <h3>Edit Service Catalog</h3>
                    <p>
                        <a th:href="@{/sla}" >Service Catalog</a>
                        <span> > </span>
                        <span>Edit Service Catalog</span>
                    </p>
                </div>
            </div>

        </div>
        <span id="alert"></span>
        <br>

        <!--                        START YOUR CONTENT                      -->

        <!--Tab Nav-->
        <div class="col-md-6">

            <div class="tab-content">
                <!--                    START TAB PROBLEM-->
                    <div class="card">
                        <div class="card-content">
                            <!--for row header-->
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="pageName">
                                        <h4>Edit Service Catalog</h4>
                                    </div>
                                </div>
                                <div class="col-sm-5"></div>
                            </div>


                            <!-- mulai table-->
                            <div class="row">
                                <br>
                                <div class="col-sm-12">
                                    <form th:action="@{/sla/daftar/update}" th:object="${sla}" method="POST">
                                        <input type="hidden" th:field="*{id_sla}"/>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                Service Catalog Name
                                                <span style="color:red;"> * </span>
                                                <input id="nama_sla" class="form-control" type="text" th:field="*{nama_sla}" required/>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                Description
                                                <span style="color:red;"> * </span>
                                                <input id="description"  class="form-control" type="text" th:field="*{description}" required/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <br>
                                            <div class="col-sm-6">
                                                Completion Time
                                                <span style="color:red;"> * </span> <br>
                                                <input id="completion_time" class="form-control" type="text" th:field="*{completion_time}" required/>
                                            </div>
                                            <div class="col-sm-6"></div>
                                        </div>
                                        <div class="row">
                                            <br>
                                            <div class="col-sm-6">
                                                Department
                                                <span style="color:red;"> * </span>
                                                <select id="departemen" name="departemen" class="form-control">
                                                    <option th:selected="${sla.departemen}"></option>
                                                    <option th:field="${sla.departemen}" th:each="departemen: ${listDepartemen}" th:value="${departemen.id_dept}"
                                                            th:text="${departemen.nama_departemen}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <br><br>

                                        <!-- Button trigger modal -->
                                        <div class="col-sm-8">
                                            <div class="col-sm-4; button-wrapper">
                                                <button type="button" class="btn btn-create text-center" id="btnSubmit">Update</button>
                                            </div>
                                            <div class="col-sm-12" style="text-align: center">
                                                <a th:href="@{/sla/daftar/}+${sla.departemen.id_dept}">Cancel</a>
                                            </div>
                                        </div>

                                        <!-- Modal -->
                                        <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cacnelModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h6 class="modal-title" id="cancelModalLabel" style="font-weight: bold; font-size: 1rem!important;">Update Service Catalog</h6>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body" style="padding: 2rem 1rem;font-size: 1rem!important;">
                                                        Service Catalog Updated!
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-fill btn-create text-center">Yes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </form> </div></div></div></div>
</body>
<script>
    $(document).ready(function(){
        $("#btnSubmit").click(function(){
            var nama_sla = document.getElementById("nama_sla").value;
            var description = document.getElementById("description").value;
            var completion_time = document.getElementById("completion_time").value;
            var departemen = document.getElementById("departemen").value;

            if ((nama_sla !== "") && (description !== "") && (completion_time!== "") && (departemen !== "")) {
                document.getElementById("alert").innerHTML = ""
                $("#cancelModal").modal();
            } else {
                document.getElementById("alert").innerHTML = "<div class=\"alert alert-danger\" role=\"alert\">\n" +
                    "Please fill in all required fields!.\n" +
                    "</div>"
            }
        });
    });

</script>
</html>