<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Home </title>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>


</head>

<body>
<div th:replace="fragments/fragment :: header"></div>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="content-container">
    <div class="container-fluid">
        <div class="row">

            <!--Page Name Header-->
            <div class="col-md-6">
                <div class="pageName">
                    <h3>Dashboard</h3>
                    <p>Dashboard</p>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
        <br>

        <!--            START YOUR CONTENT                  -->


        <!--            END OF CONTENT                      -->
    </div>
</div>

</body>

</html>