<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  </head>

  <body>
    <div th:replace="fragments/fragment :: header"></div>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="content-container">
      <div class="container-fluid">
        <br>
        <div class="col-md-12">

          <div class="row">
            <div class="col-md-4" style="height: 80px;">
              <div class="card" style="height: 80px; padding: 10px; padding-left:20px;">

                <h4 style="margin: 0px; padding-top:2%;" th:text="'Welcome to SIHEDES, '+${user.nama}"></h4>
                <p th:text="${user.departemen.nama_departemen}" style="color: #7dab5d; padding-top: 3%;"></p>
              </div>
            </div>
            
            <div th:if="${user.id_role.id_role==2}" class="col-md-2" style="text-align: center; height: 80px;">
              <div class="card" style="padding: 1px 2px; height: 80px; padding-top:7%;" >
                <h5 style="margin: 0px;" class="font-weight-bold">Unassigned tickets</h5>
                <p style="margin: 0px;" class="font-weight-bold">(To department)</p>
                <p style="margin: 0px; padding-top:0%;" th:text="${waitingAssignment}"></p>
              </div>
            </div>
            <div th:if="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}" class="col-md-2" style="text-align: center; height: 80px;">
              <div class="card" style="padding: 1px 2px; height: 80px; padding-top:7%;" >
                <h5 style="margin: 0px;" class="font-weight-bold">Unassigned tickets</h5>
                <p style="margin: 0px;" class="font-weight-bold">(To individual)</p>
                <p style="margin: 0px; padding-top:0%;" th:text="${waitingIndividual}"></p>
              </div>
            </div>
            <div th:if="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}" class="col-md-2" style="text-align: center; height: 80px;">
              <div class="card" style="padding: 1px 2px; height: 80px; padding-top:7%;" >
                <h5 style="margin: 0px;" class="font-weight-bold">Tickets to do</h5>
                <p style="margin: 0px; padding-top:10%;" th:text="${onGoingResolverTickets}"></p>
              </div>
            </div>
            <div th:if="${user.id_role.id_role==1 || user.id_role.id_role==3 || user.id_role.id_role==6}" class="col-md-2" style="text-align: center; height: 80px;">
              <div class="card" style="padding: 1px 2px; height: 80px; padding-top:7%;" >
                <h5 style="margin: 0px;" class="font-weight-bold">In progress tickets</h5>
                <p style="margin: 0px; padding-top:10%;" th:text="${inProgressTickets}"></p>
              </div>
            </div>
            <div th:if="${user.id_role.id_role==1 || user.id_role.id_role==3 || user.id_role.id_role==6}" class="col-md-2" style="text-align: center; height: 80px;">
              <div class="card" style="padding: 1px 2px; height: 80px; padding-top:7%;" >
                <h5 style="margin: 0px;" class="font-weight-bold">Tickets to review</h5>
                <p style="margin: 0px; padding-top:10%;" th:text="${doneTickets}"></p>
              </div>
            </div>
            <div class="col-md-2" style="text-align: center; height: 80px;">
              <div class="card" style="padding: 1px 2px; height: 80px; padding-top:7%;" >
                <h5 style="margin: 0px;" class="font-weight-bold">Your tickets</h5>
                <p style="margin: 0px; padding-top:10%;  " th:text="${yourTickets}"></p>
              </div>
            </div>
          </div>
          
          
          <h3>Your Dashboard</h3>
        </div>

        <!--            START YOUR CONTENT                  -->

        <div class="col-md-9">
          <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#problem">Problem</a></li>
              <li><a data-toggle="tab" href="#request">Request</a></li>
          </ul>




          <div class="tab-content">
<!--                    START TAB PROBLEM-->
              <div class="tab-pane fade in active" id="problem">
                  <div class="card">
                      <div class="card-content">
<!--                                for row header-->
                          <div class="row">
                              <div class="col-sm-7">
                                  <div class="pageName">
                                      <h3 th:if="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}">Problems to be assigned</h3>
                                      <h3 th:unless="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}">Your problems</h3>
                                  </div>
                              </div>
                              <div class="col-sm-3"></div>
                              <div class="col-sm-2">
                                  <a th:if="${user.id_role.id_role!=2}" th:href="@{/problem/add}" type="submit" class="btn btn-fill btn-create text-center"> CREATE </a>
                              </div>
                          </div>

<!--                                for row search-->
                          

<!--                                            mulai table-->
                          <div class="row">
                              <div class="col-md-12">
                                  <div th:if="${hasProblem}">
                                      <table>
                                          <thead>
                                          <tr>
                                              <th title="Field #1">No</th>
                                              <th title="Field #2">ID</th>
                                              <th title="Field #3">Subject</th>
                                              <th title="Field #4">Date</th>
                                              <th title="Field #5">Status</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                          <tr th:each="problem, iterationStatus : ${listProblem}">
                                              <td th:text="${iterationStatus.count}"></td>
                                              <td th:text="${problem.codeProblem}"></td>
                                              <td th:text="${problem.subject}"></td>
                                              <td th:text="${problem.real_date}"></td>
                                              <td th:if = "${problem.status.id_status == 4}">
                                                <span class="badge badgeWAS" th:text="${problem.status.namaStatus}"></span>
                                            </td>
                                            <td th:if = "${problem.status.id_status == 5}">
                                                <span class="badge badgeAss" th:text="${problem.status.namaStatus}"></span>
                                            </td>
                                            <td th:if = "${problem.status.id_status == 6}">
                                                <span class="badge badgeIP" th:text="${problem.status.namaStatus}"></span>
                                            </td>
                                            <td th:if = "${problem.status.id_status == 7}">
                                                <span class="badge badgeDone" th:text="${problem.status.namaStatus}"></span>
                                            </td>
                                            <td th:if = "${problem.status.id_status == 8}">
                                                <span class="badge badgeClose" th:text="${problem.status.namaStatus}"></span>
                                            </td>

                                              </td>
                                              <td><a th:href="@{/problem/detail/}+${problem.id_problem}"> Detail </a></td>
                                              <!-- <td th:unless = "${problem.status.id_status == 4}"><a th:href="@{/problem/detail/}+${problem.id_problem}"> Detail </a></td>
                                              <td th:if = "${problem.status.id_status == 4}"><a th:href="@{/problem/resolver/}+${problem.id_problem}"> Detail </a></td> -->
                                          </tr>
                                          </tbody>
                                      </table>
                                  </div>
                                  <div th:unless="${hasProblem}">
                                      <p th:text="'No problems to be assigned yet'"></p>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-8"></div>
                                    <div class="col-sm-4">
                                      <a th:if="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}" th:href="@{/pending}" type="submit" class="btn btn-fill btn-create text-center" style="min-width: 170px; font-size: smaller;"> Go to pending tickets </a>
                                      <a th:unless="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}" th:href="@{/mytickets}" type="submit" class="btn btn-fill btn-create text-center" style="min-width: 170px; font-size: smaller;"> Go to my tickets </a>
                                  </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div th:if="${problemPage.totalPages > 0}" class="pagination"
                                   th:each="pageNumber : ${pageNumbersProblem}">
                                  <a th:href="@{/tickets(size=${requestPage.size}, page=${pageNumber})}"
                                     th:text=${pageNumber}
                                     th:class="${pageNumber==requestPage.number + 1} ? active"></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

<!--                    START TAB REQUEST-->
              <div class="tab-pane fade" id="request">
                  <div class="card">
                      <div class="card-content">
                          <!--                                for row header-->
                          <div class="row">
                              <div class="col-sm-7">
                                  <div class="pageName">
                                    <h3 th:if="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}">Requests to be assigned</h3>
                                      <h3 th:unless="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}">Your requests</h3>
                                  </div>
                              </div>
                              <div class="col-sm-3"></div>
                              <div class="col-sm-2">
                                  <a th:href="@{/request/add}" th:if="${user.id_role.id_role!=2}" type="submit" class="btn btn-fill btn-create text-center"> CREATE </a>
                              </div>
                          </div>

                          <!--                                for row search-->
                          

                          <!--                                            mulai table-->
                          <div class="row">
                              <div class="col-md-12">
                                  <div th:if="${hasRequest}">
                                      <table>
                                          <thead>
                                          <tr>
                                              <th title="Field #1">No</th>
                                              <th title="Field #2">ID</th>
                                              <th title="Field #3">Subject</th>
                                              <th title="Field #4">Service Catalog</th>
                                              <th title="Field #5">Date</th>
                                              <th title="Field #6">Status</th>
                                              <th title="Field #6">Detail</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                          <tr th:each="request, iterationStatus : ${listRequest}">
                                              <td th:text="${iterationStatus.count}"></td>
                                              <td th:text="${request.codeRequest}"></td>
                                              <td th:text="${request.subject}"></td>
                                              <td th:text="${request.sla.nama_sla}"></td>
                                              <td th:text="${request.createdDate}"></td>
                                              <td th:if = "${request.status.id_status == 3}">
                                                <span class="badge badgeApproval" th:text="${request.status.namaStatus}"></span>
                                            </td>
                                            <td th:if = "${request.status.id_status == 4}">
                                                <span class="badge badgeWAS" th:text="${request.status.namaStatus}"></span>
                                            </td>
                                            <td th:if = "${request.status.id_status == 5}">
                                                <span class="badge badgeAss" th:text="${request.status.namaStatus}"></span>
                                            </td>
                                            <td th:if = "${request.status.id_status == 6}">
                                                <span class="badge badgeIP" th:text="${request.status.namaStatus}"></span>
                                            </td>
                                            <td th:if = "${request.status.id_status == 7}">
                                                <span class="badge badgeDone" th:text="${request.status.namaStatus}"></span>
                                            </td>
                                            <td th:if = "${request.status.id_status == 8}">
                                                <span class="badge badgeClose" th:text="${request.status.namaStatus}"></span>
                                            </td>
                                              </td>
                                              <td><a th:href="@{/request/detailin/}+${request.id_request}"> Detail </a></td>
                                          </tr>
                                          </tbody>
                                      </table>
                                  </div>
                                  <div th:unless="${hasRequest}">
                                      <p th:text="'No requests to be assigned yet'"></p>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-8"></div>
                                    <div class="col-sm-4">
                                      <a th:if="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}" th:href="@{/pending}" type="submit" class="btn btn-fill btn-create text-center" style="min-width: 170px; font-size: smaller;"> Go to pending tickets </a>
                                      <a th:unless="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}" th:href="@{/mytickets}" type="submit" class="btn btn-fill btn-create text-center" style="min-width: 170px; font-size: smaller;"> Go to my tickets </a>
                                  </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!--END OF TAB REQUEST-->

          </div>
      </div>
      <div class="col-md-3" th:if="${user.id_role.id_role==2}">
        <div class="d-flex flex-column">
          <div class="card">
            <div class="card-content">
              <div id="piechart"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3" th:unless="${user.id_role.id_role==2}">
        <div class="container-fluid">
          <img th:src="@{/images/illustration.png}" alt="" class="img-fluid" style="max-width: 100%; height:auto; object-fit:cover;">
        </div>
      </div>

<!-- 
        <div class="row">
          <div class="col-sm-9">
            <div class="card">
              <div class="log-content">
                <p class="card-title text-center">Unassigned Tickets</p>
                <h3 class="card-text text-center">1</h3>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="log-content">
                <p class="card-title text-center">Unassigned Tickets</p>
                <h3 class="card-text text-center">1</h3>
              </div>
            </div>
          </div>
        </div> -->

        <!--            END OF CONTENT                      -->

        <div class="col-md-9">
          <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#problem2">Problem</a></li>
              <li><a data-toggle="tab" href="#request2">Request</a></li>
          </ul>




          <div class="tab-content">
<!--                    START TAB PROBLEM-->
              <div class="tab-pane fade in active" id="problem2">
                  <div class="card">
                      <div class="card-content">
<!--                                for row header-->
                          <div class="row">
                              <div class="col-sm-7">
                                  <div class="pageName">
                                      <h3 th:if="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}">Your on going problems</h3>
                                      <h3 th:unless="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}">Please give these tickets a feedback</h3>

                                  </div>
                              </div>
                              <div class="col-sm-3"></div>
                              
                          </div>

<!--                                for row search-->
                          

<!--                                            mulai table-->
                          <div class="row">
                              <div class="col-md-12">
                                  <div>
                                      <table>
                                          <thead>
                                          <tr>
                                              <th title="Field #1">No</th>
                                              <th title="Field #2">ID</th>
                                              <th title="Field #3">Subject</th>
                                              <th title="Field #4">Date</th>
                                              <th title="Field #5">Status</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                          <tr th:each="problem, iterationStatus : ${onGoingProblems}" th:if="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}">
                                            <td th:text="${iterationStatus.count}"></td>
                                            <td th:text="${problem.codeProblem}"></td>
                                            <td th:text="${problem.subject}"></td>
                                            <td th:text="${problem.real_date}"></td>
                                            <td th:if = "${problem.status.id_status == 4}">
                                              <span class="badge badgeWAS" th:text="${problem.status.namaStatus}"></span>
                                          </td>
                                          <td th:if = "${problem.status.id_status == 5}">
                                              <span class="badge badgeAss" th:text="${problem.status.namaStatus}"></span>
                                          </td>
                                          <td th:if = "${problem.status.id_status == 6}">
                                              <span class="badge badgeIP" th:text="${problem.status.namaStatus}"></span>
                                          </td>
                                          <td th:if = "${problem.status.id_status == 7}">
                                              <span class="badge badgeDone" th:text="${problem.status.namaStatus}"></span>
                                          </td>
                                          <td th:if = "${problem.status.id_status == 8}">
                                              <span class="badge badgeClose" th:text="${problem.status.namaStatus}"></span>
                                          </td>

                                          <tr th:each="problem, iterationStatus : ${doneProblems}">
                                              <td th:text="${iterationStatus.count}"></td>
                                              <td th:text="${problem.codeProblem}"></td>
                                              <td th:text="${problem.subject}"></td>
                                              <td th:text="${problem.real_date}"></td>
                                              <td th:if = "${problem.status.id_status == 4}">
                                                <span class="badge badgeWAS" th:text="${problem.status.namaStatus}"></span>
                                            </td>
                                            <td th:if = "${problem.status.id_status == 5}">
                                                <span class="badge badgeAss" th:text="${problem.status.namaStatus}"></span>
                                            </td>
                                            <td th:if = "${problem.status.id_status == 6}">
                                                <span class="badge badgeIP" th:text="${problem.status.namaStatus}"></span>
                                            </td>
                                            <td th:if = "${problem.status.id_status == 7}">
                                                <span class="badge badgeDone" th:text="${problem.status.namaStatus}"></span>
                                            </td>
                                            <td th:if = "${problem.status.id_status == 8}">
                                                <span class="badge badgeClose" th:text="${problem.status.namaStatus}"></span>
                                            </td>

                                              </td>
                                              <td><a th:href="@{/problem/detail/}+${problem.id_problem}"> Detail </a></td>
                                              <!-- <td th:unless = "${problem.status.id_status == 4}"><a th:href="@{/problem/detail/}+${problem.id_problem}"> Detail </a></td>
                                              <td th:if = "${problem.status.id_status == 4}"><a th:href="@{/problem/resolver/}+${problem.id_problem}"> Detail </a></td> -->
                                          </tr>
                                          </tbody>
                                      </table>
                                  </div>
                                  <!-- <div>
                                      <p th:text="'You dont have a working problem yet'" th:if="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}"></p>
                                      <p th:text="'No tickets to give your feedback yet'" th:unless="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}"></p>
                                  </div> -->
                                  <div class="row">
                                    <div class="col-md-8"></div>
                                    <div class="col-sm-4">
                                      <a th:if="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}" th:href="@{/pending}" type="submit" class="btn btn-fill btn-create text-center"> Go to pending tickets </a>
                                      <a th:unless="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}" th:href="@{/mytickets}" type="submit" class="btn btn-fill btn-create text-center"> Go to my tickets </a>
                                  </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div th:if="${problemPage.totalPages > 0}" class="pagination"
                                   th:each="pageNumber : ${pageNumbersProblem}">
                                  <a th:href="@{/tickets(size=${requestPage.size}, page=${pageNumber})}"
                                     th:text=${pageNumber}
                                     th:class="${pageNumber==requestPage.number + 1} ? active"></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

<!--                    START TAB REQUEST-->
              <div class="tab-pane fade" id="request2">
                  <div class="card">
                      <div class="card-content">
                          <!--                                for row header-->
                          <div class="row">
                            
                              <div class="col-sm-7">
                                  <div class="pageName">
                                    <h3 th:if="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}">Your on going problems</h3>
                                    <h3 th:unless="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}">Please give these tickets a feedback</h3>
                                  </div>
                              </div>
                              <div class="col-sm-3"></div>
                    
                          </div>

                          <!--                                for row search-->
                          

                          <!--                                            mulai table-->
                          <div class="row">
                              <div class="col-md-12">
                                  <div>
                                      <table>
                                          <thead>
                                          <tr>
                                              <th title="Field #1">No</th>
                                              <th title="Field #2">ID</th>
                                              <th title="Field #3">Subject</th>
                                              <th title="Field #4">Service Catalog</th>
                                              <th title="Field #5">Date</th>
                                              <th title="Field #6">Status</th>
                                              <th title="Field #6">Detail</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                            <tr th:each="request, iterationStatus : ${onGoingRequests}" th:if="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}">
                                              <td th:text="${iterationStatus.count}"></td>
                                              <td th:text="${request.codeRequest}"></td>
                                              <td th:text="${request.subject}"></td>
                                              <td th:text="${request.sla.nama_sla}"></td>
                                              <td th:text="${request.createdDate}"></td>
                                              <td th:if = "${request.status.id_status == 4}">
                                                <span class="badge badgeWAS" th:text="${request.status.namaStatus}"></span>
                                            </td>
                                            <td th:if = "${request.status.id_status == 5}">
                                                <span class="badge badgeAss" th:text="${request.status.namaStatus}"></span>
                                            </td>
                                            <td th:if = "${request.status.id_status == 6}">
                                                <span class="badge badgeIP" th:text="${request.status.namaStatus}"></span>
                                            </td>
                                            <td th:if = "${request.status.id_status == 7}">
                                                <span class="badge badgeDone" th:text="${request.status.namaStatus}"></span>
                                            </td>
                                            <td th:if = "${request.status.id_status == 8}">
                                                <span class="badge badgeClose" th:text="${request.status.namaStatus}"></span>
                                            </td>

                                            <tr th:each="request, iterationStatus : ${doneRequests}" th:unless="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}">
                                              <td th:text="${iterationStatus.count}"></td>
                                              <td th:text="${request.codeRequest}"></td>
                                              <td th:text="${request.subject}"></td>
                                              <td th:text="${request.sla.nama_sla}"></td>
                                              <td th:text="${request.createdDate}"></td>
                                              <td th:if = "${request.status.id_status == 4}">
                                                <span class="badge badgeWAS" th:text="${request.status.namaStatus}"></span>
                                            </td>
                                            <td th:if = "${request.status.id_status == 5}">
                                                <span class="badge badgeAss" th:text="${request.status.namaStatus}"></span>
                                            </td>
                                            <td th:if = "${request.status.id_status == 6}">
                                                <span class="badge badgeIP" th:text="${request.status.namaStatus}"></span>
                                            </td>
                                            <td th:if = "${request.status.id_status == 7}">
                                                <span class="badge badgeDone" th:text="${request.status.namaStatus}"></span>
                                            </td>
                                            <td th:if = "${request.status.id_status == 8}">
                                                <span class="badge badgeClose" th:text="${request.status.namaStatus}"></span>
                                            </td>
                                              </td>
                                              <td><a th:href="@{/request/detailin/}+${request.id_request}"> Detail </a></td>
                                          </tr>
                                          </tbody>
                                      </table>
                                  </div>
                                  <!-- <div th:unless="${hasRequestOG}">
                                    <p th:text="'You dont have a working request   yet'" th:if="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}"></p>
                                    <p th:text="'No tickets to give your feedback yet'" th:unless="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}"></p>
                                  </div> -->
                                  <div class="row">
                                    <div class="col-md-8"></div>
                                    <div class="col-sm-4">
                                      <a th:if="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}" th:href="@{/pending}" type="submit" class="btn btn-fill btn-create text-center"> Go to pending tickets > </a>
                                      <a th:unless="${user.id_role.id_role==2 || user.id_role.id_role==4 || user.id_role.id_role==5}" th:href="@{/mytickets}" type="submit" class="btn btn-fill btn-create text-center"> Go to my tickets > </a>
                                  </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div th:if="${requestPage.totalPages > 0}" class="pagination"
                                   th:each="pageNumber : ${pageNumbers}">
                                  <a th:href="@{/tickets(size=${requestPage.size}, page=${pageNumber})}"
                                     th:text=${pageNumber}
                                     th:class="${pageNumber==requestPage.number + 1} ? active"></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!--END OF TAB REQUEST-->

          </div>
      </div>
      <div class="col-md-12" th:if="${user.id_role.id_role==2}">
        <div class="card">
          <div class="card-content">
            <div id="linechart_material"></div>
          </div>
        </div>
      </div>
      </div>
    </div> -->
    <!-- <script>
    // Dropdown
    $('.sub-menu ul').hide();
    $(".sub-menu a").click(function () {
        $(this).parent(".sub-menu").children("ul").slideToggle("100");
        $(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
    });
</script> -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" th:inline="javascript">
  // Load google charts
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  
  // Draw the chart and set the chart values
  function drawChart() {
    console.log([[${test}]]);
    var dict = [[${departmentHash}]];
var arr = [];

for (var key in dict) {
    if (dict.hasOwnProperty(key)) {
        arr.push( [ key, dict[key] ] );
    }
}

arr.unshift(['Departments', 'Amount of Work'])

    var data = google.visualization.arrayToDataTable(arr);
  
    // Optional; add a title and set the width and height of the chart
    var options = {'title':'Department Tickets', height:300};
  
    // Display the chart inside the <div> element with id="piechart"

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    chart.draw(data, options);
  }
  </script>

  <script type="text/javascript" th:inline="javascript">
    google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Month');
      data.addColumn('number', 'Problem');
      data.addColumn('number', 'Request');

      data.addRows([[${ticketsArr}]]);

      var options = {
        chart: {
          title: 'Number of Tickets Submitted',
          subtitle: 'Problem & Request'
        },
        height: 400
      };

      var chart = new google.charts.Line(document.getElementById('linechart_material'));

      chart.draw(data, google.charts.Line.convertOptions(options));
    }
  </script>
  
</body>
</html>
