<!DOCTYPE html>
<html lang="en" xml:lang="http://thymeleaf.org" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8"> <title> Login </title>
</head>

<body>

<header id="header" class="fixed-top">
</header>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column">
        <div class="container mt-5 col-md-4 d-flex">
            <div class="upper-logo">
                <img th:src="@{/images/Logo.png}" alt="image">
            </div>
        </div>
        <div class="mt-4 col-md-4 align-self-center">
            <h5>Masuk ke akun anda</h5>
            <form th:action="@{/login}" method="POST" class="d-flex flex-column justify-content-center">
                <small th:if="${param.error}" class="text-center">Terdapat kesalahan input username atau password</small>
                <div class="form-group">
                    <label class="col-sm-4">Username:</label>
                    <input type="text" class="col-sm-8 form-control input-sm" name="username">
                </div>
                <div class="form-group">
                    <label class="col-sm-4">Password:</label>
                    <input type="password" class="col-sm-8 form-control input-sm" name="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" :disabled="loading">
                        <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                        <span>Login</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

</section><!-- End Hero -->


<!-- Vendor JS Files -->


</body>

</html>