<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Pending Tickets </title>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>


</head>

<body>
<div th:replace="fragments/fragment :: header"></div>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="content-container">
    <div class="container-fluid">
        <div class="row">

            <!--Page Name Header-->
            <div class="col-md-6">
                <div class="pageName">
                    <h3>Pending Tickets</h3>
                    <p>Pending Tickets</p>
                </div>
            </div>

        </div>
        <br>

        <!--                        START YOUR CONTENT                      -->

        <!--Tab Nav-->
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#problem">Problem</a></li>
                <li><a data-toggle="tab" href="#request">Request</a></li>
            </ul>




            <div class="tab-content">
                <!--                    START TAB PROBLEM-->
                <div class="tab-pane fade in active" id="problem">
                    <div class="card">
                        <div class="card-content">
                            <!--                                for row header-->
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="pageName">
                                        <h3>Problem</h3>
                                    </div>
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-2">
                                    <a th:href="@{/problem/add}" type="submit" class="btn btn-fill btn-create text-center" style="min-width: 90px;"> CREATE </a>
                                </div>
                            </div>

                            <!--                                for row search-->
                            <div class="row">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6">
                                    <div class="col-search">
                                        <div class="row">
                                            <!-- Search form -->
                                            <input id="problemBar" class="searchbar" type="search" placeholder="Search...">
                                            <a class="btn-search"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--                                            mulai table-->
                            <div class="row">
                                <div class="col-md-12">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th title="Field #1">No</th>
                                            <th title="Field #2">ID</th>
                                            <th title="Field #3">Subject</th>
                                            <th title="Field #4">Date</th>
                                            <th title="Field #5">Status</th>
                                        </tr>
                                        </thead>
                                        <div th:if="${hasProblem}">
                                            <tbody>
                                            <tr th:each="problem, iterationStatus : ${listProblem}">
                                                <td th:text="${iterationStatus.count}"></td>
                                                <td th:text="${problem.codeProblem}"></td>
                                                <td th:text="${problem.subject}"></td>
                                                <td th:text="${problem.real_date}"></td>
                                                <td th:if = "${problem.status.id_status == 4}">
                                                    <span class="badge badgeWAS" th:text="${problem.status.namaStatus}"></span>
                                                </td>
                                                <td th:if = "${problem.status.id_status == 5}">
                                                    <span class="badge badgeAss" th:text="${problem.status.namaStatus}"></span>
                                                </td>
                                                <td th:if = "${problem.status.id_status == 6}">
                                                    <span class="badge badgeIP" th:text="${problem.status.namaStatus}"></span>
                                                </td>
                                                <td th:if = "${problem.status.id_status == 7}">
                                                    <span class="badge badgeDone" th:text="${problem.status.namaStatus}"></span>
                                                </td>
                                                <td th:if = "${problem.status.id_status == 8}">
                                                    <span class="badge badgeClose" th:text="${problem.status.namaStatus}"></span>
                                                </td>
                                                <td><a th:href="@{/problem/detail/}+${problem.id_problem}"> Detail </a></td>
                                                <!-- <td th:unless = "${problem.status.id_status == 4}"><a th:href="@{/problem/detail/}+${problem.id_problem}"> Detail </a></td>
                                                <td th:if = "${problem.status.id_status == 4}"><a th:href="@{/problem/resolver/}+${problem.id_problem}"> Detail </a></td> -->
                                            </tr>

                                            </tbody>
                                        </div>
                                    </table>
                                    <div th:unless="${hasProblem}">
                                        <p class="text-center">Problem belum tersedia</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div th:if="${problemPage.totalPages > 0}" class="pagination"
                                     th:each="pageNumber : ${pageNumbersProblem}">
                                    <a th:href="@{/tickets(size=${requestPage.size}, page=${pageNumber})}"
                                       th:text=${pageNumber}
                                       th:class="${pageNumber==requestPage.number + 1} ? active"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--                    START TAB REQUEST-->
                <div class="tab-pane fade" id="request">
                    <div class="card">
                        <div class="card-content">
                            <!--                                for row header-->
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="pageName">
                                        <h3>Request</h3>
                                    </div>
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-2">
                                    <a th:href="@{/request/add}" type="submit" class="btn btn-fill btn-create text-center" style="min-width: 90px;"> CREATE </a>
                                </div>
                            </div>

                            <!--                                for row search-->
                            <div class="row">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6">
                                    <div class="col-search">
                                        <div class="row">
                                            <!-- Search form -->
                                            <input id="requestBar" class="searchbar" type="search" placeholder="Search...">
                                            <a class="btn-search"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--                                            mulai table-->
                            <div class="row">
                                <div class="col-md-12">

                                    <table>
                                        <thead>
                                        <tr>
                                            <th title="Field #1">No</th>
                                            <th title="Field #2">ID</th>
                                            <th title="Field #3">Subject</th>
                                            <th title="Field #4">Service Catalog</th>
                                            <th title="Field #5">Date</th>
                                            <th title="Field #6">Status</th>
                                            <th title="Field #6">Detail</th>
                                        </tr>
                                        </thead>
                                        <div th:if="${hasRequest}">
                                            <tbody>
                                            <tr th:each="request, iterationStatus : ${requestPage.content}">
                                                <td th:text="${iterationStatus.count}"></td>
                                                <td th:text="${request.codeRequest}"></td>
                                                <td th:text="${request.subject}"></td>
                                                <td th:text="${request.sla.nama_sla}"></td>
                                                <td th:text="${request.createdDate}"></td>
                                                <td th:if = "${request.status.id_status == 3}">
                                                    <span class="badge badgeApproval" th:text="${request.status.namaStatus}"></span>
                                                </td>
                                                <td th:if = "${request.status.id_status == 4}">
                                                    <span class="badge badgeWAS" th:text="${request.status.namaStatus}"></span>
                                                </td>
                                                <td th:if = "${request.status.id_status == 5}">
                                                    <span class="badge badgeAss" th:text="${request.status.namaStatus}"></span>
                                                </td>
                                                <td th:if = "${request.status.id_status == 6}">
                                                    <span class="badge badgeIP" th:text="${request.status.namaStatus}"></span>
                                                </td>
                                                <td th:if = "${request.status.id_status == 7}">
                                                    <span class="badge badgeDone" th:text="${request.status.namaStatus}"></span>
                                                </td>
                                                <td th:if = "${request.status.id_status == 8}">
                                                    <span class="badge badgeClose" th:text="${request.status.namaStatus}"></span>
                                                </td>
                                                <td><a th:href="@{/request/detailin/}+${request.id_request}"> Detail </a></td>
                                            </tr>
                                            </tbody>
                                        </div>
                                    </table>
                                    <div th:unless="${hasRequest}">
                                        <p class="text-center">Request belum tersedia</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div th:if="${requestPage.totalPages > 0}" class="pagination"
                                     th:each="pageNumber : ${pageNumbers}">
                                    <a th:href="@{/tickets(size=${requestPage.size}, page=${pageNumber})}"
                                       th:text=${pageNumber}
                                       th:class="${pageNumber==requestPage.number + 1} ? active"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF TAB REQUEST-->

            </div>
        </div>

        <!--                         END OF CONTENT                      -->

    </div>
</div>
<script>
    $("#problemBar").on("input", function () {
        var n = $(this).val();
        $('tbody tr:ccontains("' + n + '")').show(),
            $('tbody tr:not(:ccontains("' + n + '"))').hide(),
            0 === $('tr:ccontains("' + n + '")').length
                ? $("#no_results").show()
                : $("#no_results").hide();
    });

    jQuery.expr[":"].ccontains = function (a, i, m) {
        return jQuery(a).text().toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
    };
</script>

<script>
    $("#requestBar").on("input", function () {
        var n = $(this).val();
        $('tbody tr:ccontains("' + n + '")').show(),
            $('tbody tr:not(:ccontains("' + n + '"))').hide(),
            0 === $('tr:ccontains("' + n + '")').length
                ? $("#no_results").show()
                : $("#no_results").hide();
    });

    jQuery.expr[":"].ccontains = function (a, i, m) {
        return jQuery(a).text().toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
    };
</script>
</body>



</html>