<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Profil </title>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>


</head>

<body>
<div th:replace="fragments/fragment :: header"></div>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="content-container">
    <div class="container-fluid">
        <div class="row">

            <!--Page Name Header-->
            <div class="col-md-6">
                <div class="pageName">
                    <h3>Profil</h3>
                    <p>
                        <a th:href="@{/user/profil}">Profil</a>
                    </p>
                </div>
            </div>

        </div>
        <br>
        <div class="col-md-1"></div>
        <div class="col-md-10">

            <div class="tab-content">
                <!--                    START TAB PROBLEM-->
                <div class="tab-pane fade in active" id="problem">
                    <div class="card">
                        <div class="card-content">
                            <!--                                for row header-->
                            <div class="row">
                                <div class="col-sm-9" style="padding-left: 20px;">
                                    <div class="pageName" style="margin-top: 20px;">
                                        <h3 th:text="${user.nama}" style="color: #545655;"></h3>
                                        <p th:text="${user.id_role.nama_role}" style="color: #545655;"></p>
                                    </div>
                                </div>
                                <div class="col-sm-3" style="padding-top: 23px;">
                                    <a th:href="@{/user/changepass}" type="submit"
                                       class="btn btn-fill btn-create text-center" style="width: 170px; font-size: smaller;" id="btnChange"> Change Password </a>
                                </div>
                            </div>
                            <div class="row">
                                <br>

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-content">
                            <br>
                            <form th:action="@{/user/update}" th:object="${user}" method="POST">
                                <input type="hidden" th:field="*{id_user}"/>
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5">
                                        Username <br>
                                        <input class="form-control" th:value="${user.username}" disabled="disabled"/>
                                    </div>
                                    <div class="col-sm-5">
                                        Departement <br>
                                        <input class="form-control" th:value="${user.departemen.nama_departemen}" disabled="disabled"/>
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                                <div class="row">
                                    <br>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5">
                                        Email <br>
                                        <input class="form-control" th:value="${user.email}" name="email"/>
                                    </div>
                                    <div class="col-sm-5">
                                        No. Telp <br>
                                        <input class="form-control" th:value="${user.no_hp}" name="no_hp" />
                                    </div>
                                    <div class="col-sm-1"></div>

                                </div>
                                <div class="row">
                                    <br>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-10">
                                        <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-fill btn-create text-center">
                                            Save
                                        </button>
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <p>
                                                            <span>Are you sure you want to update your profile? </span>
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button class="btn btn-dark" type="submit">Yes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                                <br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
</body>
</html>